<div class="jumbotron">
	<div class="container">
  <h1 class="Titulo">Pinterest Tics</h1>
  <h2 class="titulos"></h2>
  <a href="https://en1mes.com/" class="btn btn-default glyphicon glyphicon-fire" style="font-size:30px; color: red"> En1Mes</a>
  </div>
</div>

<div class="container">
<div class="row">
	<div class="col-md-4">
		<div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>

</div>
<h1 style="display: inline;">Subtitulo </h1>
<a href="http://en1mes.com" target="_blank"></a>
<p >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
<hr>
	<br>
	<a href="">
	<img src="http://artekatu.com/multimedia/wp-content/uploads/2017/09/eic_tmm.jpg" style="width: 500px" class="img-responsive">

</a>

</div>
<div class="col-md-4">
<div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>
</div>
	<h2>Sub... Subtitulo</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
	</p>
	<hr>
	<br>
	<a href="">
	<img src="https://sites.google.com/site/sistemas2503/_/rsrc/1472865211946/videos-informatica/diferencias-y-semejanzas-entre-los-sistemas-informaticos-y-los-sistemas-de-informacion/sistemas.jpg" style="width: 500px" class="img-responsive">

</a>

</div>

<div class="col-md-4">
	<div class="page-header">
  <h1>Example page header <small>Subtext for header</small></h1>
  <span class="label label-default">New</span>
</div>
	<h6>Sub ..... Subtitulo</h6>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<hr>
<br>
<a href="">
	<img src="https://www.informatica-hoy.com.ar/redes/imagenes/redes-informaticas_clip_image002.jpg" style="width: 500px" class="img-responsive">

</a>
</div>
</div>
</div>



